:root{
    --primary05:#f1f3ff;
    --primary10:hsl(194, 100%, 95%);
    --primary20:hsl(193, 100%, 85%);
    --primary30:hsl(193, 100%, 75%);
    --primary40:hsl(193, 100%, 65%);
    --primary50:hsl(193, 100%, 55%);
    --primary60:hsl(193, 100%, 45%);
    --primary70:hsl(193, 100%, 35%);
    --primary80:hsl(193, 100%, 25%);
    --primary90:hsl(193, 100%, 15%);
    --primary100:hsl(193, 100%, 5%);

    --secondary10:hsl(117, 76%, 95%);
    --secondary20:hsl(116, 74%, 85%);
    --secondary30:hsl(116, 75%, 75%);
    --secondary40:hsl(115, 74%, 65%);
    --secondary50:hsl(116, 75%, 55%);
    --secondary60:hsl(115, 75%, 45%);
    --secondary70:hsl(116, 74%, 35%);
    --secondary80:hsl(116, 75%, 25%);
    --secondary90:hsl(116, 74%, 15%);
    --secondary100:hsl(114, 76%, 5%);

    --pureWhite:#fff;
    --gray10:#f4f4f4;
    --gray20:#e0e0e0;
    --gray30:#c6c6c6;
    --gray40:#a8a8a8;
    --gray50:#8d8d8d;
    --gray60:#6f6f6f;
    --gray70:#525252;
    --gray80:#393939;
    --gray90:#262626;
    --gray100:#161616;
    --pureDark:#000;

    --backgroundDark:var(--primary100);
    --defColorDark:var(--gray10);
    --backgroundLight:var(--primary05);
    --defColorLight:var(--gray100);
}
@media (prefers-color-scheme:dark){
    body{
        background: var(--backgroundDark);
        color: var(--defColorDark);
    }
}
@media (prefers-color-scheme:light){
    body{
        background: var(--backgroundLight);
        color: var(--defColorLight);
    }

}

*{margin: 0;padding: 0;box-sizing: border-box;}
/*Border-Radius size to big cards*/
.rounded-lg {
    border-radius: .5rem;
}




/* - backup ---


Cool purple color
:root{
    --backgroundDark:--primary90;
    
    --primarydark10:#5a74c7;
    --primarydark20:#5a74c7;
    --primarydark30:#738bff;
    --primarydark40:#6b8aed;
    --primarydark50:#5a74c7;
    --primarydark60:#495ea1;
    --primarydark70:#38487b;
    --primarydark80:#273255;
    --primarydark90:#161c2f;
}


*/